*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background:#0B0F1C;
    color:white;
}

/* LAYOUT */
.layout{
    display:flex;
    height:100vh;
}

/* SIDEBAR */
.sidebar{
    width:260px;
    padding:30px;
    background:#0F172A;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    border-right:1px solid rgba(255,255,255,0.05);
}

.logo{
    font-size:30px;
    font-weight:800;
    background:linear-gradient(90deg,#9333EA,#3B82F6);
    -webkit-background-clip:text;
    color:transparent;
}

.menu{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.menu a{
    color:#9CA3AF;
    cursor:pointer;
    transition:0.3s;
}

.menu a:hover,
.menu a.active{
    color:white;
}

.create-btn{
    padding:12px;
    border:none;
    border-radius:12px;
    background:linear-gradient(90deg,#9333EA,#3B82F6);
    color:white;
    cursor:pointer;
    font-weight:600;
}

/* FEED */
.feed-container{
    flex:1;
    padding:40px;
    overflow-y:auto;
}

/* STORIES */
.stories{
    display:flex;
    gap:15px;
    margin-bottom:30px;
}

.story{
    width:65px;
    height:65px;
    border-radius:50%;
    background:linear-gradient(135deg,#9333EA,#3B82F6);
}

/* CREATE POST */
.create-post{
    background:#111827;
    padding:20px;
    border-radius:20px;
    display:flex;
    gap:15px;
    margin-bottom:30px;
}

.create-post input{
    flex:1;
    background:transparent;
    border:none;
    color:white;
    font-size:15px;
    outline:none;
}

.create-post button{
    padding:8px 18px;
    border:none;
    border-radius:12px;
    background:linear-gradient(90deg,#9333EA,#3B82F6);
    color:white;
    cursor:pointer;
}

/* POST */
.post{
    background:#111827;
    padding:25px;
    border-radius:20px;
    margin-bottom:25px;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

.post-actions{
    margin-top:15px;
    display:flex;
    gap:25px;
    color:#9CA3AF;
}

.like-btn{
    cursor:pointer;
    transition:0.2s;
}

.like-btn:hover{
    transform:scale(1.1);
}

.like-btn.liked{
    color:#EF4444;
}

/* RIGHT PANEL */
.right-panel{
    width:300px;
    padding:40px;
    background:#0F172A;
    border-left:1px solid rgba(255,255,255,0.05);
}

.card{
    background:#111827;
    padding:20px;
    border-radius:20px;
    margin-bottom:20px;
}

.card h3{
    margin-bottom:10px;
    font-size:16px;
}

.card p{
    font-size:14px;
    color:#9CA3AF;
    margin-bottom:8px;
}